nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: beige;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    position: fixed;
}
nav span{
    color: red;
}
.navlinks>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.navlinks>ul>li{
    list-style: none;
}
.navlinks>ul>li>a{
    text-decoration: none;
    padding: 20px;
    transition: color 0.4s ease-in;
}
.navlinks>ul>li>a:hover{
    background-color: orange;
    color: white;
}
.hum-icon{
    height: 50px;
    width: 50px;
    color: black;
    font-size: 3rem;
    display: none;
}
.hum{
    font-size: xx-large;
}
@media (max-width:550px){
    .navlinks{
        display: none;
    }
    .hum-icon {
        display: block;
        height: auto;
        margin-bottom: 3%;
    }
    .hum-icon:hover{
        cursor: pointer;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        padding-bottom: 10px;
        position: relative;
        align-items: first baseline;
    }
    .hum-links{
        font-size: large;
        margin-top: 3%;
        width: 140px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .hum-links>ul>li{
        list-style: none;
    }
    .hum-links>ul>li>a{
        text-decoration: none;
    }
}
